{{ define "about" }}
    {{ template "header" }}
        <div class="container">
            <div class="row sobre">
                <div class="col-md-12">
                    <h1>Sobre nós</h1>
                    <img class="imgSobre" src="https://images.unsplash.com/photo-1508154048109-de555266b70a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                    <hr>
                    <p>O comidamexicana.com.br é um site lançado em 04/04/2020 que tem como principal objetivo facilitar a busca por restaurantes de comida mexicana nas principais cidades Brasileiras. Servindo como meio de divulgação dos restaurantes e da culinária mexicana para todos.</p>
                    <p>O site foi construído e é mantido por <a href="https://twitter.com/paulosabaini" target="_blank">Paulo Sabaini</a>, desenvolvedor, apaixonado por computadores e que se aventura em construir websites.</p>   
                    <p>Este site foi construído com dedicação e de maneira independente, contamos com sua ajuda para que ele continue existindo, queremos ajudar todos os tipos de pessoas que buscam uma grande experiência com uma comida mexicana de qualidade.</p>
					<p>Para os donos de estabelecimentos, esperamos ajudar ao máximo o seu negócio sendo uma vitrine para que as pessoas descubram o seu local. Buscamos sempre ter os melhores parceiros e uma ótima relação com todos eles.</p>	
                    <p>Obrigado por estar com a gente, Viva Mexico!</p>    
                </div>
            </div>
        </div>
        <script src="/static/js/about.js"></script>
    {{ template "footer" }}
{{ end }}