{{ define "contactsuccess" }}
    {{ template "header" }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2" style="margin-top: 100px; text-align: center;">
                <img src="/static/img/pinata2.png" alt="desenho de uma piñata" width="250px" width="250px">
                <strong><p style="margin-top: 25px;">Mensagem enviada com sucesso! Em breve enviaremos uma resposta para o seu email.</p></strong>
            </div>
        </div>
    </div>
    {{ template "footer" }}
{{ end }}