{{ define "footer" }}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <a href="/sobre">Sobre Nós</a>
          <a href="/contato">Contato</a>
          <p class="ml-auto">© 2020 comidamexicana.com.br</p>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
{{ end }}